
<html>
<body>
    <h2>HTML Forms</h2>
    <form action="/submit" method='post'>
      <label for="Science">Science:</label><br>
      <input type="text" id="Science" name="Science" value="0"><br>
      <label for="Math">Math:</label><br>
      <input type="text" id="Math" name="Math" value="0"><br><br>
      <label for="C">C:</label><br>
      <input type="text" id="C" name="C" value="0"><br>
      <label for="Data science">Data science:</label><br>
      <input type="Data science" id="Data science" name="Data science" value="0"><br><br>
      <input type="submit" value="Submit">
</form>
<p> if you click on the submit button the form data will be sent to function</p>

</body>
</html>